<app-profile-layout></app-profile-layout>
<div class="main-container" *ngIf="false">
  <span
    style="display: none"
    *ngFor="
      let item of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14];
      index as i
    "
  >
    <mat-card class="example-card" data-aos="fade-up" data-aos-duration="1000">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Cool Dog</mat-card-title>
          <mat-card-subtitle>Small</mat-card-subtitle>
          <img
            mat-card-sm-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        With Animation; item - {{ item }}.{{ i }}</mat-card-content
      >
    </mat-card>
  </span>
</div>

<router-outlet></router-outlet>
